<h1>Ranking</h1>
<div>
    <table style="width:100%;" cellspacing="2" cellpadding="2" border="1">
        <thead>
            <tr>
                <th>TEAM</th>
                <th>GAMES</th>
                <th>WIN</th>
                <th>DRAW</th>
                <th>LOSES</th>
                <th>GOALS</th>
                <th>AGAINT</th>
                <th>GOALS RESULT</th>
                <th>POINTS</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let scoreboard of (this.mainService.scoreboard$ | async)">
                <td>{{ scoreboard.participant.name }} </td>
                <td>{{ scoreboard.Games }}</td>
                <td>{{ scoreboard.Wins }}</td>
                <td>{{ scoreboard.Draw }}</td>
                <td>{{ scoreboard.Looses }}</td>
                <td>{{ scoreboard.Goals }}</td>
                <td>{{ scoreboard.AgainstGoals }}</td>
                <td>{{ scoreboard.InvoiceGoals }}</td>
                <td>{{ scoreboard.Points }}</td>
            </tr>
        </tbody>
    </table>
</div>

